@{
  Layout = "_Layout";
}

@model Animal_Shelter.Models.Animal

<h4>Add a new animal</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)

  @Html.LabelFor(model => model.Phylum)
  @Html.DropDownList("PhylumId")

  <input type="submit" value="Add new Animal" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Animals", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>